<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.web>
        <authorization>
            <deny users="*" />
        </authorization>
    </system.web>
  <location path="UploadAttendance.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD,Faculty" />
      </authorization>
    </system.web>
  </location>
  <location path="UploadNotice.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD,Faculty" />
      </authorization>
    </system.web>
  </location>
  <location path="UploadCirculars.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD" />
      </authorization>
    </system.web>
  </location>
  <location path="UploadSessMarks.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD,Faculty" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageAttendance.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD,Faculty" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageNotice.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD,Faculty" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageCirculars.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD" />
      </authorization>
    </system.web>
  </location>
  <location path="ManageSessMarks.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD,Faculty" />
      </authorization>
    </system.web>
  </location>
  <location path="Circular.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin,HOD,Faculty" />
      </authorization>
    </system.web>
  </location>
</configuration>