<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CareerCounselling</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeAction</display-name>
    <servlet-name>HomeAction</servlet-name>
    <servlet-class>com.career.action.HomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAction</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyAction</display-name>
    <servlet-name>CompanyAction</servlet-name>
    <servlet-class>com.career.action.CompanyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyAction</servlet-name>
    <url-pattern>/company</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostGradAction</display-name>
    <servlet-name>PostGradAction</servlet-name>
    <servlet-class>com.career.action.PostGradAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostGradAction</servlet-name>
    <url-pattern>/postgrad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTopicAction</display-name>
    <servlet-name>ShowTopicAction</servlet-name>
    <servlet-class>com.career.action.ShowTopicAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTopicAction</servlet-name>
    <url-pattern>/showTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCommentAction</display-name>
    <servlet-name>ShowCommentAction</servlet-name>
    <servlet-class>com.career.action.ShowCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCommentAction</servlet-name>
    <url-pattern>/showComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiscAction</display-name>
    <servlet-name>MiscAction</servlet-name>
    <servlet-class>com.career.action.MiscAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiscAction</servlet-name>
    <url-pattern>/misc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AboutUsAction</display-name>
    <servlet-name>AboutUsAction</servlet-name>
    <servlet-class>com.career.action.AboutUsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AboutUsAction</servlet-name>
    <url-pattern>/aboutus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaqsAction</display-name>
    <servlet-name>FaqsAction</servlet-name>
    <servlet-class>com.career.action.FaqsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaqsAction</servlet-name>
    <url-pattern>/faqs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.career.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadResumeAction</display-name>
    <servlet-name>UploadResumeAction</servlet-name>
    <servlet-class>com.career.action.UploadResumeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadResumeAction</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopicAction</display-name>
    <servlet-name>AddTopicAction</servlet-name>
    <servlet-class>com.career.action.AddTopicAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopicAction</servlet-name>
    <url-pattern>/addTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentAction</display-name>
    <servlet-name>AddCommentAction</servlet-name>
    <servlet-class>com.career.action.AddCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentAction</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAction</display-name>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>com.career.action.RegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>